# registry=http://mirrors.cloud.tencent.com/npm/
# @ztech:registry = https://npmmirror.xb2.cn/
# registry = https://npmmirror.xb2.cn/
registry = http://registry.npmjs.org
# registry = https://registry.npmjs.com